swagger: "2.0"
info:
  description: This is the swagger file that goes with our server code
  version: "1.0.0"
  title: IMoviesForYou Swagger ReST API
consumes:
  - application/json
produces:
  - application/json

# Auth asks host definition here
host: imoviesforyou.me

basePath: /classificacoes

# Authentication for Cloud using Services Account
securityDefinitions:
  unified-sa-account-authorization:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "unified-sa-authorization@cnprojext.iam.gserviceaccount.com"
    x-google-jwks_uri: "https://www.googleapis.com/robot/v1/metadata/x509/unified-sa-authorization@cnprojext.iam.gserviceaccount.com"
    x-google-audiences: "http://imoviesforyou.me/gestaotitles,http://imoviesforyou.me/gestaousers,http://imoviesforyou.me/recomendacoes,http://imoviesforyou.me/classificacoes"
    # x-google-audiences : look if this works for host, then which host, otherwise in python method

# security Seems to require x-token-info-func.
# Here is app level definition.
security:
  - unified-sa-account-authorization: [ ]

# Paths supported by the server application
paths:
  /user/{user_id}/rating/{movie_id}:
    post:
      operationId: userMovieClassification.addRatingToMovie
      tags:
        - User
      summary: Attribute a rating to a specific movie
      description: Attribute a rating to a specific movie
      parameters:
        - name: user_id
          in: path
          description: User id
          type: integer
          required: True
        - name: movie_id
          in: path
          description: Movie id
          type: integer
          required: True
        - name: rating
          in: body
          description: Movie rating
          schema:
            properties:
              rating:
                type: integer
      responses:
        201:
          description: Successfully attributed a rating to a movie
          schema:
           type: array
           items:
            properties:
             user_id:
              type: integer
             movie:
              type: integer
             rating:
              type: integer
